/* Hero Section */
.hero-section {
  height: 100vh;
  background: url('https://www.w3schools.com/w3images/mac.jpg') center center/cover no-repeat;
  position: relative;
  padding-top: 80px;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section>div {
  position: relative;
  z-index: 1;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Navbar adjustments */
.navbar .nav-link {
  font-weight: 500;
  color: #000 !important;
}

.navbar .nav-link.active {
  color: #007bff !important;
}


/* #photo {
  margin: 40px auto; 
  text-align: center;
}
#photo .container {
  max-width: 800px;
  margin: 0 auto;
}*/

.photo-gallery {
  display: flex;
  /* gap: 15px; */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#photo{
  padding:20px;
}
.img-fluid{
  padding:5px;
}
.skill span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.progress {
  background-color: #aaa;
  border-radius: 0;
  height: 20px;
}

.progress-bar {
  background-color: #555;
  text-align: right;
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
#map .container {
  background: url("images/map.jpg") no-repeat center center/cover;
  height: 900px;
  width: 100%;
  margin-top:40px;
}
.custom-footer {
  background-color: black;
  padding: 40px 20px;
}

.custom-footer a {
  color: white;
  margin: 0 8px;
  font-size: 1.5rem;
  text-decoration: none;
}

.custom-footer a:hover {
  color: #ddd;
}

.custom-footer p {
  margin-top: 10px;
  font-size: 0.9rem;
  color:black;
}

.custom-footer .btn {
  border-radius: 0;
  font-weight: bold;
}
.contact-section {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.contact-section h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 1rem;
  color: #333;
}

.contact-section i {
  font-size: 1.2rem;
  color: black;
}

.contact-section .form-control {
  border-radius: 0;
  box-shadow: none;
}

.contact-section .btn {
  border-radius: 0;
  padding: 10px 20px;
  font-weight: bold;
}

